name: Build & Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install MSRV
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.83.0
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Code style
        run: |
          cargo fmt --all -- --check
          cargo clippy --all-features --all-targets -- -D warnings


  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        feature-args:
          - "" # Default features
          - --features full
          - --features "alloc std ubx_proto23"
          - --no-default-features --features "alloc std ubx_proto23"
          - --no-default-features --features "alloc ubx_proto23 sfrbx-gps"
          - --no-default-features --features ubx_proto14
          - --no-default-features --features ubx_proto23
          - --no-default-features --features "ubx_proto23 std"
          - --no-default-features --features "ubx_proto23 std serde"
          - --no-default-features --features ubx_proto27
          - --no-default-features --features ubx_proto31
          - --no-default-features --features "ubx_proto31 std"
          - --no-default-features --features "ubx_proto31 std serde"
          - --no-default-features --features ubx_proto33
          - --no-default-features --features "ubx_proto33 std"
          - --no-default-features --features "ubx_proto33 std serde"
          - --no-default-features --features "alloc std ubx_proto14 ubx_proto23"
          - --no-default-features --features "alloc std ubx_proto14 ubx_proto23 ubx_proto27 ubx_proto31 ubx_proto33"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install MSRV
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.83.0
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --verbose ${{ matrix.feature-args }}

      - name: Test
        run: cargo test --verbose ${{ matrix.feature-args }}

  build_embedded:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        features:
          - ubx_proto23
          - alloc,ubx_proto23
          - serde,ubx_proto23
          - ubx_proto27
          - alloc,ubx_proto27
          - serde,ubx_proto27
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install MSRV
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.83.0
          override: true
      - name: Install embedded targets
        run: rustup target add thumbv6m-none-eabi thumbv7m-none-eabi thumbv7em-none-eabihf
      - uses: Swatinem/rust-cache@v2
      - name: Build ${{ matrix.features }}
        run: cargo build --verbose --no-default-features --features ${{ matrix.features }} --target thumbv6m-none-eabi --target thumbv7m-none-eabi --target thumbv7em-none-eabihf

  build_examples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        example:
          - ublox-device
          - ublox-tui
          - basic-cli
          - dds
          - send-receive
          - simple-parse
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install MSRV
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.90.0
          override: true
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release --package ${{ matrix.example }}

      - name: Coding style
        run: |
          cargo fmt --all -- --check
          cargo clippy --all-targets --package ${{ matrix.example }} -- -D warnings

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: ublox_derive
        run: |
          cd ublox_derive
          RUSTDOCFLAGS="--cfg docrs" \
              cargo +nightly doc --no-deps

      - name: ublox
        run: |
          cd ublox
          RUSTDOCFLAGS="--cfg docrs" \
              cargo +nightly doc --no-deps --all-features

  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: taiki-e/install-action@cargo-hack
      - uses: Swatinem/rust-cache@v2
      - name: Check MSRV for ublox packages 
        run: cargo hack check --rust-version 
      - name: Check MSRV for examples 
        run: cargo hack check --rust-version --workspace --exclude ublox --exclude ublox_derive

  semver:
    name: semver
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        feature-group: [default-features]
        include:
          - feature-group: default-features
            feature: alloc
          - feature-group: only-explicit-features
            feature: ubx_proto14
          - feature-group: only-explicit-features
            feature: ubx_proto23
          - feature-group: only-explicit-features
            feature: ubx_proto27
          - feature-group: only-explicit-features
            feature: ubx_proto27,serde,std
          - feature-group: only-explicit-features
            feature: ubx_proto31
          - feature-group: only-explicit-features
            feature: ubx_proto31,sfrbx-gps
          - feature-group: only-explicit-features
            feature: ubx_proto33
    steps:
      - uses: actions/checkout@v6
      - name: SemVer Check
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          package: ublox
          feature-group: ${{matrix.feature-group}}
          features: ${{ matrix.feature }}
          rust-toolchain: stable
          release-type: minor
